/* src/Sidebar.css */
.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    transition: left 0.3s ease;
  }

  .sidebar nav ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    padding: 10px;
    color: white;

  }
  
  .user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  .login-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }